//font
@font-face {
    font-family: 'avenir';
    src: url('../fonts/Avenir.otf');
}

@font-face {
    font-family: 'avenirLight';
    src: url('../fonts/AvenirLight.otf');
}

//color
@text: #1a1a1a;
@grey: #b3b3b3;
@primary: #4f4ea1;
@grey-light: #e6e6e6;
@primary-dark: #44448c;
@tosca: #3cbdb1;


body {
    background-color: #fff !important;
}

.row {
    margin: 0;
    padding: 0;
}

#welcome {
    background-image: url("../img/agreement-business.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-repeat: no-repeat;
    padding: 0;
    position: fixed;
    overflow: hidden;
    #konten {
        background: linear-gradient(111deg, rgba(60, 189, 177, 0.8) 0%, rgba(60, 189, 177, 0.8) 12%, rgba(79, 78, 161, 0.8) 75%);
        height: 100vh;
        color: #fff;
        padding: 15% 60px 0 60px;
        line-height: 3;
        h3 {
            margin-bottom: 40px;
        }
    }
}

#form-login, #form-reset-password {
    margin-top: 20px;
    margin-left: 58.3333%;
    @media (max-width: 767.98px) {
        margin-left: 50%;
    }
    img#brand {
        width: 150px;
        margin-bottom: 60px;
    }
    p.note {
        margin-top: 40px;
        font-size: 10pt;
    }
}

#form-register {
    margin-top: 20px;
    margin-left: 58.3333%;
    @media (max-width: 767.98px) {
        margin-left: 50%;
    }
    img#brand {
        width: 150px;
        margin-bottom: 20px;
    }
    p.note {
        margin-top: 0px;
        font-size: 10pt;
    }
}

.fa-ul {
    margin-left: 30px;
}

#medsos {
    position: absolute;
    left: 85px;
    bottom: 40px;
    a {
        margin-right: 10px;
    }
}

svg:hover {
    #fb {
        fill: #3b5998;
    }
    #in {
        fill: #0077B5;
    }
    #ig {
        fill: #fb3958;
    }
}

.form-inline {
    display: unset;
}

.alert {
    margin-bottom: 20px;
    font-size: 10pt;
    padding: 5px 10px;
}

.input-group {
    margin-bottom: 10px;
}

.loader-akses {
  margin: 0 auto;
  text-indent: -9999em;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader-akses:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader-akses:after {
  background: @primary-dark;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
