//font
@font-face {
    font-family: 'avenir';
    src: url('../fonts/Avenir.otf');
}

@font-face {
    font-family: 'avenirLight';
    src: url('../fonts/AvenirLight.otf');
}

//color
@text: #1a1a1a;
@grey: #b3b3b3;
@primary: #4f4ea1;
@grey-light: #e6e6e6;
@primary-dark: #44448c;
@tosca: #3cbdb1;


#nav-menu {
    height: 70px;
    background-color: #fff;
    padding: 20px 40px 20px 40px;
    z-index: 999;
    font-size: 32px;
    .icon-active{
        color: @primary;
    }
}

#head-bar {
    height: 60px;
    background-color: #fbfbfb;
    padding: 6px 30px 10px 20px;
    img#brand {
        width: 120px;
    }
    .icon {
        font-size: 20pt;
    }
    .pull-right {
        margin-top: 15px;
        span {
            margin-left: 60px;
        }
    }
    .pull-left{
        margin-top: 15px;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .form-control{
        color: unset;
        background-color: transparent;
        border: none;
    }
    input.form-search{
        border-bottom: 1px solid @grey-light;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: transparent;
        font-size: 12pt;
        margin-left: 10px;
        width: 200px;
    }
    #back {
        margin-top: 10px;
        a {
            color: @text;
        }
        i {
            font-size: 22pt;
        }
        #branch {
            position: relative;
            top: -6px;
            margin-left: 20px;
            color: @grey;
        }
    }
}

.chart-legend {
    ul {
        list-style: none;
        margin-left: -40px;
        margin-top: 10px;
        li {
            font-size: 10pt;
            margin-bottom: 5px;
            span {
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 10px;
                border-radius: 50%;
            }
        }
    }
}

#summary{
    p.read{
        line-height: 1.2;
        margin-bottom: 10px;
        font-size: 10pt
    }
    p.big{
        font-size: 1.5em;
        color: @primary;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

.table.dashboard {
    font-size: 10pt;
    th,
    td {
        border-top: none;
        padding: 5px;
    }
    th {
        border-bottom: 1px solid #dee2e6;
    }
}

#history{
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 998;
    background-color: rgba(79, 78, 161, 0.9);
    width: 100%;
    color: #fff;
    padding: 30px 30px 140px 30px;
    overflow-y: scroll;
    display: none;
    .title {
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 14pt;
    }
    p {
        margin-bottom: 10px;
    }
    .date-time {
        font-size: 0.8em;
    }
    a {
        color: @tosca;
        &:hover,
        &:active,
        &:focus {
            color: @tosca;
        }
    }
    ul li {
        margin-bottom: 20px;
    }
}

.space-bottom {
    padding-bottom: 10px;
}

#doc-stat {
    svg {
        margin-left: 2px;
        margin-right: 2px;
    }
}

.user-mobile {
    a {
        color: @text;
    }
}

ul.list-view-user {
    list-style: none;
    margin-left: -40px;
    li {
        margin-bottom: 20px;
        padding: 5px 0 15px 0;
    }
    .line-separator {
        border-color: @grey-light;
    }
    a {
        color: @text;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            color: @text;
            text-decoration: none;
        }
    }
}

#faq{
    .card{
        border-radius: 0px;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        background-color: transparent;
    }
    .card-header {
        background-color: transparent;
        padding: 10px;
    }
    .btn {
        text-transform: unset;
        text-align: left;
    }
    .btn-link {
        color: @text;
        &:hover, &:active {
            text-decoration: none;
        }
    }
}

#form-akses {
    .input-group {
        width: 100%;
    }
}

.nav {
    border-bottom: 1px solid @grey;
}

.nav-pills {
    .nav-link {
        color: @text;
        border-radius: unset;
        padding: 10px 30px;
        &:hover,
        &:focus {
            color: @primary  !important;
        }
    }
    .nav-link.active {
        color: @primary  !important;
        background-color: transparent !important;
        border-bottom: 2px solid @primary  !important;
    }
}

.modal-kirim{
    border: 0px;
    .modal-dialog{
        .modal-content{
            .modal-header{
                background: @primary-dark;
                color: #fff;
            }
            .modal-body{
                padding-left: 4%;
                padding-right: 4%;
                .bootstrap-tagsinput{
                    border: 1px solid #ced4da;
                    padding: .375rem .75rem !important;
                    .tag{
                        background-color: @primary-dark;
                        color: #ffffff;
                        vertical-align: middle;
                        border-radius: 4px;
                        padding: 4px 6px;
                        font-size: 10pt;
                    }
                }
            }
            .modal-footer{
                border: 0px;
            }
        }
    }
}

//standart for mobile
#content {
    padding: 20px 20px 90px 20px;
}

.content-title {
    font-size: 1.5em;
    margin: 0 0 20px 0;
}

.box-title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.title-list-view {
    font-size: 1.2em;
    font-weight: normal;
}

.btn-mobile {
    min-width: 40px;
}

.btn-fab {
    position: fixed;
    right: 20px;
    bottom: 90px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 8px;
    padding-left: 13px;
}

img#photo-profile {
    width: 60px;
}

empty-doc {
    color: @grey;
    text-align: center;
    padding: 10px 20px 0px 20px;
    i {
        font-size: 3em;
    }
    p {
        margin-top: 10px;
    }
}

#proposal-content{
    #header{
        background-color:grey;
        color:#fff;
    }
}

#dummy-read {
    background-color: rgba(255,255,255,0.85);
    height: 45%;
    width: 70%;
    position: absolute;
    top: 80px;
    left: 15%;
    padding-top: 20px;
    line-height: 2;
}
