//font
@font-face {
    font-family: 'avenir';
    src: url('../fonts/Avenir.otf');
}

@font-face {
    font-family: 'avenirLight';
    src: url('../fonts/AvenirLight.otf');
}

//color
@text: #1a1a1a;
@grey: #b3b3b3;
@primary: #4f4ea1;
@grey-light: #a19595;
@primary-dark: #44448c;
@tosca: #3cbdb1;


#nav {
    padding: 20px 40px 10px 100px;
    background-color: #fbfbfb;
    font-size: 1.2rem;
    z-index: 999;
    .icon {
        color: @grey;
        &:hover,
        &:focus,
        &:active {
            color: @primary;
        }
    }
    .far {
        padding-left: 40px;
    }
    span {
        padding: 0 10px 0 10px;
    }
    .dropdown-menu {
        margin-top: 15px;
    }
    .dropdown-item:hover {
        color: @primary;
        background-color: transparent;
    }
    a {
        color: unset;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            color: unset;
            text-decoration: none;
        }
        i {
            padding-left: 5px;
            position: relative;
            top: 2.5px;
        }
    }
    .dropdown-toggle::after {
        display: none;
    }
    input.form-search {
        border-bottom: 1px solid @grey-light;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: transparent;
        font-size: 12pt;
        margin-left: -10px;
        width: 300px;
    }
    .doc-list {
        .dropdown-item {
            padding: 5px;
            font-size: 10pt;
        }
        .docs {
            margin-right: 20px;
        }
        i {
            top: 0;
            font-size: 8pt;
        }
    }
    #list-link {
        a {
            color: @primary;
            &:hover, &:active, &:focus {
                color: @primary-dark;
            }
        }
    }
}

#sidebar {
    height: 100vh;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    padding-top: 60px;
    z-index: 1000;
    img#brand {
        width: 30px;
        position: absolute;
        top: 15px;
        left: 15px;
        background-color: transparent;
    }
    #menu {
        margin-top: 10px;
        i {
            font-size: 1.5rem;
        }
    }
    a {
        color: @grey;
        li {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        &:hover,
        &:focus {
            color: @primary;
        }
    }
    a.active {
        color: @primary;
        li {
            border-right: 3px solid @primary;
        }
    }
    a.active-noborder {
        color: @primary;
    }
    .pull-bottom {
        position: absolute;
        bottom: 10px;
        left: 18px;
    }
}


.chart-legend {
    ul {
        list-style: none;
        margin-left: -40px;
        margin-top: 10px;
        li {
            font-size: 10pt;
            margin-bottom: 5px;
            span {
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 5px;
                border-radius: 50%;
            }
        }
    }
}

.table.dashboard {
    font-size: 10pt;
    th,
    td {
        border-top: none;
        padding: 0.5rem;
    }
    th {
        border-bottom: 1px solid #dee2e6;
    }
}

.hi-light {
    color: @primary;
    font-size: 1.5rem;
}

.table#report {
    margin-bottom: 0;
    td {
        padding: 2px 0 2px 0;
    }
}

#chart-proposal,
#stat-content {
    min-height: 303px;
}

ul.no-point.document {
    margin-top: 30px;
    li {
        margin-bottom: 15px;
        a {
            color: @text;
            &:hover {
                color: @primary;
                text-decoration: none;
            }
        }
    }
}

#history {
    position: fixed;
    z-index: 998;
    background-color: rgba(79, 78, 161, 0.9);
    width: 300px;
    height: 100vh;
    right: 0;
    top: 59px;
    padding: 20px 20px 80px 20px;
    color: #fff;
    overflow-y: scroll;
    display: none;
    p.title {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 10px;
    }
    .riwayat {
        font-size: 10pt;
    }
    .date-time {
        font-size: 8pt;
    }
    a {
        color: @tosca;
        &:hover,
        &:active,
        &:focus {
            color: @tosca;
        }
    }
    ul li {
        margin-bottom: 20px;
    }
    i {
        font-size: 36pt;
        margin-top: 60px;
    }
}

#doc-stat {
    svg {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.section {
    position: relative;
    padding-bottom: 50px;
    margin-top: 10px;
    padding-top: 20px;
    textarea{
//        border: 0px;
//        border: 1px solid @grey-light;
//        border-radius: 0px;
        border: 1px solid transparent;
        &:hover, &:active, &:focus{
            border: 1px solid @grey;
            border-radius: 5px;
        }
    }
    .delete-section {
        position: absolute;
        margin-bottom: 15px;
        left: 42%;
        bottom: -4%;
        display: none;
    }
    .add-item{
        margin-top: 10px;
    }
    &:hover {
        // background: #e4e4e4;
        // cursor: move;
        .delete-section {
            display: block;
        }
    }
    .section-table {
        tr {
            td{
                padding-right: 10px;
                padding-bottom: 10px;
            }
            td:first-child{
                width: 65%;
            }
        }
    }
    .photo-in-section{
//        float: left;
        img{
            width: 100%;
            &:hover{
                cursor: zoom-in;
            }
        }
        &:hover{
            .delete-image-section{
                display: block;
            }
        }
        .delete-image-section{
            display: none;
            margin-left: 10%;
            margin-top: 6%;
        }
        .show-image{
            cursor: pointer;
        }
    }
}

textarea#signature {
    border: 1px solid transparent;
    color: @text;
    &:hover, &:active, &:focus{
        border: 1px solid @grey;
        border-radius: 5px;
    }
}

.photo-tiles{
    padding: 65px;
    border: 2px solid #888888;
    border-style: dashed;
//    float: left;
//    margin-right: 10px;
    width: 100%;
    &:hover{
        background: #e2e2e2;
        cursor: pointer;
    }
    i{
        color: #888888;
        font-size: 20pt;
    }
}

.upload-img-form{
    display: none;
}

#btn-pilih-sec{
    margin-top: 40px;
}

#proposalModal {
    .modal-body {
        padding-left: 5%;
        padding-right: 5%;
    }
    .form-control {
        border-radius: 1px 1px 0px 0px;
        border-bottom: 1px solid @grey;
    }
    .alert {
        margin-top: 10px;
        padding: 5px 10px;
    }
}

#upload-header-logo{
    color: #000;
    .modal-header, .modal-footer{
        border: 0px;
    }
    .modal-body{
        .btn{
            font-size: 10pt;
            text-transform: none;
        }
    }
}
#modal-image .modal-lg{
    max-width: 75%;
}
.modal-kirim{
    border: 0px;
    .modal-dialog{
        .modal-content{
            .modal-header{
                background: @primary-dark;
                color: #fff;
            }
            .modal-body{
                padding-left: 4%;
                padding-right: 4%;
                .bootstrap-tagsinput{
                    border: 1px solid #ced4da;
                    padding: .375rem .75rem !important;
                    .tag{
                        background-color: @primary-dark;
                        color: #ffffff;
                        vertical-align: middle;
                        border-radius: 4px;
                        padding: 4px 6px;
                        font-size: 10pt;
                    }
                }
            }
            .modal-footer{
                border: 0px;
            }
        }
    }
}

.accordion#choose-template{
    margin-right: 20px;
    .card{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgba(255,255,255,0.7);
        border: unset;
    }
    .card-header{
        cursor: pointer;
        color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: unset;
        background-color: rgba(79,78,161,0.5);
        padding: .5rem 1.25rem;
    }
    .card-body{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        max-width: 1100px;
        padding-bottom: 10px;
        padding-right: 20px;
        background-color: rgba(0,0,0,0.7);
    }
    ul#list-template{
        list-style: none;
        margin-left: -20px;
        li{
            display: inline-block;
            padding-right: 20px;
            cursor: pointer;
        }
    }
}

.fix-bottom{
    position: fixed;
    bottom: 10px;
}

#invoice-content {
    padding: 40px 40px 60px 40px;
}

#form-client {
    input, textarea {
        margin-bottom: 10px;
    }
}

#item {
    margin-top: 20px;
    line-height: 2;
    tr td {
        vertical-align: top;
        padding: 5px;
    }
    .th-item {
        border-bottom: 1px solid #ccc;
    }
    #grand-total {
        font-size: 1.5em;
        font-weight: bold;
    }
    #grand-total {
        font-size: 1.5em;
        font-weight: bold;
    }
}

.tab-content.tab-info {
    font-size: 10pt;
    padding: 20px;
}

#faq{
    .card{
        border-radius: 0px;
        border-top: 1px solid @grey-light;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        background-color: transparent;
    }
    .btn-secondary, .card-header{
        background: transparent;
        color: #000;
        border: 0px;
        padding: 10px 20px 0 10px;
        .btn{
            white-space: unset;
            &:focus{
                box-shadow: 0px 0px 0px;
            }
        }
        &:focus{
            box-shadow: 0px 0px 0px;
        }
    }
    .btn-link {
        color: @text;
        text-transform: unset;
        &:hover {
            text-decoration: none;
        }
    }
}

#dummy-read {
    background-color: rgba(255,255,255,0.85);
    height: 45%;
    width: 80%;
    position: absolute;
    bottom: 60px;
    left: 60px;
    margin-top: 10px;
    padding-top: 40px;
    line-height: 2;
}

//standart for desktop
#content {
    margin: 80px 30px 20px 80px;
}

.box-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.nav {
    border-bottom: 1px solid @grey;
}

.nav-pills {
    .nav-link {
        color: @text;
        border-radius: unset;
        padding: 10px 60px;
        &:hover,
        &:focus {
            color: @primary  !important;
        }
    }
    .nav-link.active {
        color: @primary  !important;
        background-color: transparent !important;
        border-bottom: 2px solid @primary  !important;
    }
}

#add-section {
    margin-top: 40px;
}

.badge.sample-proposal {
    position: relative;
    top: -2px;
    left: 10px;
    font-weight: 300;
    padding: .25em .8em;
}

#statusSave{
    position: fixed;
    right: 30%;
}

.loader {
    float: left;
    margin-right: 10px;
    text-indent: -9999em;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #4f4ea1 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: @primary;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #fbfbfb;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.empty-doc {
    color: @grey;
    text-align: center;
    padding: 10px 20px 0px 20px;
    i {
        font-size: 3em;
    }
    p {
        margin-top: 10px;
    }
}

img#photo-profile {
    width: 30%;
    margin-bottom: 5%;
}
.btn-group{
    margin-bottom: 5%;
    .btn{
        margin-right: 0px;
        font-size: 8pt;
    }
}

//   userview
#proposal-content{
    #header{
        #photo{
            .upload-img-prop{
                display: none;
            }
            button.proposal-logo{
                font-size: 20pt;
                background-color: rgba(143,143,143,0.5);
                border: 0px;
                color: #fff;
                &:focus{
                    outline:0px;
                }
            }
            .proposal-logo{
                cursor: pointer;
            }
        }
        textarea#title-prop{
            background-color: transparent;
            border: unset;
            &:hover,&:focus,&:active{
                border: 1px solid @grey-light;
            }
        }
    }
}
.section{
    .userview-isi-section{
        tr {
            td{
                padding-right: 10px;
                padding-bottom: 10px;
            }
            td:first-child{
                width: 85%;
            }
        }
    }

}
.section--userview{
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img#fullsize-image{
    width: 100%;
}
//   end of userview

.loader-primary {
    margin: 0 auto;
    text-indent: -9999em;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: loadP 1.4s infinite linear;
    animation: loadP 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader-primary:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader-primary:after {
    background: @primary-dark;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes loadP {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes loadP {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
