//font
@font-face {
    font-family: 'avenir';
    src: url('../fonts/Avenir.otf');
}

@font-face {
    font-family: 'avenirLight';
    src: url('../fonts/AvenirLight.otf');
}

//color
@text: #1a1a1a;
@grey: #b3b3b3;
@primary: #4f4ea1;
@grey-light: #e6e6e6;
@primary-dark: #44448c;
@tosca: #3cbdb1;


body {
    background-color: #fff !important;
}

.row {
    margin: 0;
    padding: 0;
}

#welcome {
    background-image: url("../img/agreement-business.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-repeat: no-repeat;
    padding: 0;
    position: fixed;
    overflow: hidden;
    #konten {
        background: linear-gradient(111deg, rgba(60, 189, 177, 0.8) 0%, rgba(60, 189, 177, 0.8) 12%, rgba(79, 78, 161, 0.8) 75%);
        height: 100vh;
        color: #fff;
        padding: 15% 60px 0 60px;
        line-height: 3;
        h3 {
            margin-bottom: 40px;
        }
    }
}

#policy {
    margin-top: 20px;
    margin-left: 50%;
    img#brand {
        width: 150px;
        margin-bottom: 20px;
    }
    #content-policy {
        padding: 20px 20px 80px 20px;
        p {
            font-size: 10pt;
        }
        #btn-login {
            position: fixed;
            left: 53%;
            bottom: 30px;
        }
    }
}

.fa-ul {
    margin-left: 30px;
}

#medsos {
    position: absolute;
    left: 85px;
    bottom: 40px;
    a {
        margin-right: 10px;
    }
}

svg:hover {
    #fb {
        fill: #3b5998;
    }
    #in {
        fill: #0077B5;
    }
    #ig {
        fill: #fb3958;
    }
}
