//font
@font-face {
    font-family: 'avenir';
    src: url('../fonts/Avenir.otf');
}

@font-face {
    font-family: 'avenirLight';
    src: url('../fonts/AvenirLight.otf');
}

@font-face {
    font-family: 'verdana';
    src: url('../fonts/Verdana.ttf');
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/OpenSans-Regular.ttf');
}


//color
@text: #1a1a1a;
@grey: #b3b3b3;
@primary: #4f4ea1;
@grey-light: #e6e6e6;
@primary-dark: #44448c;
@tosca: #3cbdb1;
@tosca-dark: #39ada2;
@danger: #ed2227;


//standar
body {
    font-family: 'avenir' !important;
    color: @text;
    background-color: rgba(242, 242, 242, 0.9) !important;
    margin: 0;
}

a {
    color: @primary;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color: @primary-dark;
        text-decoration: none;
    }
}

ul.no-point {
    list-style: none;
    margin-left: -40px;
}

.icon {
    color: @grey;
    &:hover,
    &:focus,
    &:active {
        color: @primary;
    }
}

.icon-click {
    cursor: pointer;
}

.grey {
    color: @grey;
}

.grey-light {
    color: @grey-light;
}

.box {
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}

.box.top-space {
    margin-top: 20px;
}

.bold {
    font-weight: bold;
}

.btn {
    white-space: unset;
    text-transform: uppercase;
}

.btn-outline-primary {
    text-transform: uppercase;
    color: @primary !important;
    background-color: #fff !important;
    border: 1px solid @primary !important;
    &:hover,
    &:focus,
    &:active {
        color: #fff !important;
        background-color: @primary-dark !important;
        border: 1px solid @primary-dark !important;
        i {
            color: #fff;
        }
    }
    i {
        color: @primary;
    }
}

.btn-outline-secondary, a.btn-outline-secondary {
    text-transform: uppercase;
    color: @tosca !important;
    background-color: #fff !important;
    border: 1px solid @tosca;
    &:hover,
    &:focus,
    &:active {
        color: #fff !important;
        background-color: @tosca !important;
        border: 1px solid @tosca !important;
    }
}

.btn-outline-grey, a.btn-outline-grey {
    text-transform: uppercase;
    color: @grey !important;
    background-color: #fff !important;
    border: 1px solid @grey !important;
    &:hover,
    &:focus,
    &:active {
        color: #fff !important;
        background-color: @grey !important;
        border: 1px solid @grey !important;
    }
}

.btn-grey, a.btn-grey {
    text-transform: uppercase;
    color: @text !important;
    background-color: @grey-light !important;
    border: 1px solid @grey-light !important;
    &:hover,
    &:focus,
    &:active {
        color: #fff !important;
        background-color: @grey !important;
        border: 1px solid @grey !important;
    }
}

.table.no-border {
    th,
    td {
        border: none;
    }
}

.text-normal {
    font-size: 12pt;
}

.text-little {
    font-size: 10pt;
}

.text-small {
    font-size: 8pt;
}

.btn-little {
    font-size: 10pt;
}

.text-thin {
    font-family: 'avenirLight';
}

ul.list-view {
    list-style: none;
    margin-left: -40px;
    li {
        border-bottom: 1px solid @grey-light;
        margin-bottom: 20px;
    }
    p.title-list-view {
        font-weight: bold;
    }
    .body-list-view {
        font-size: 10pt;
    }
    p.header {
        margin-bottom: 5px;
        font-weight: bold;
    }
    p.text-thin {
        margin-bottom: 5px;
    }
    a {
        color: @text;
        text-decoration: none;
        &:hover,
        &:focus {
            color: @primary;
            text-decoration: none;
        }
        &:active {
            color: @text;
            text-decoration: none;
        }
    }
}

.line-separator {
    border-bottom: 1px solid @grey;
}

.mini-text {
    font-size: 8pt;
    margin-bottom: 10px;
}

.pull-right {
    float: right !important;
}

.content-title {
    margin: 10px 0 20px 15px;
}

.btn-primary, a.btn-primary {
    background-color: @primary;
    border: 1px solid @primary;
    color: #fff;
    text-transform: uppercase;
    margin-right: 10px;
    &:hover,
    &:focus,
    &:active {
        background-color: @primary-dark;
        border: 1px solid @primary-dark;
        box-shadow: none;
    }
}
.btn-tosca, a.btn-tosca {
    background-color: @tosca;
    border: 1px solid @tosca;
    color: #fff;
    text-transform: uppercase;
    margin-right: 10px;
    &:hover,
    &:focus,
    &:active {
        background-color: @tosca-dark;
        border: 1px solid @tosca-dark;
        box-shadow: none;
    }
}

.one-half-spacing {
    line-height: 1.5;
}

.two-spacing {
    line-height: 2;
}

.box.toolbar-box {
    padding: 10px 20px 10px 20px;
    h3 {
        line-height: 1;
        margin-top: 8px;
        margin-bottom: 2px;
    }
    button {
        margin-left: 10px;
    }
}

.box#proposal-content {
    line-height: 1.5;
    padding-top: 0;
    padding-bottom: 40px;
    #header {
        margin-left: -20px;
        margin-right: -20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 40px 20px 20px 20px;
        margin-bottom: 30px;
        h4 {
            line-height: unset;
            margin-bottom: 40px;
        }
    }
}

.form-control.no-border {
    color: unset;
    background-color: transparent;
    border: none;
}

.form-control {
    &:focus {
        border-color: #ced4da;
        box-shadow: unset;
    }
}

.form-control::placeholder {
    color: #6c757d;
    opacity: .4;
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: .4;
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: .4;
}

.form-control::-ms-placeholder {
    color: #6c757d;
    opacity: .4;
}

textarea.no-resize {
    overflow: hidden;
    resize: none;
}

.input-group-text {
    background-color: #fff;
    color: #6c757d;
}

.badge-primary {
    background-color: @primary;
}

.swal-button {
    text-transform: uppercase;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.swal-button--confirm, .swal-button--email, .swal-button--chat {
    background-color: @primary;
    &:hover, &:active, &:focus {
        background-color: @primary-dark;
    }
}

.swal-text {
    text-align: center;
}

.info-form {
    font-size: 10pt;
    color: @grey;
    margin: 5px;
}

.select2-container .select2-selection--single {
    height: calc(2.25rem + 2px) !important;
    padding: .375rem .75rem !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px !important;
    right: 10px !important;
}

a {
    cursor: pointer;
}

.input-group-text {
    i.fas, i.far, i.fab {
        opacity: .4;
    }
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

#user-view-content {
    margin: 10px 20px 40px 20px;
}

.toolbar-box{
    p {
        margin-top: 5px;
        margin-bottom: 2px;
    }
    .tools{
        display: inline-block;
    }
    #cp2,#cp3{
        cursor: pointer;
    }
}

.alert-fit {
    margin-top: 10px;
    padding: 5px 10px;
}

.bg-primary {
    background-color: @primary !important;
    color: #fff;
}

.pointer {
    cursor: pointer;
}

.toggle-group {
    label.btn-default {
        background-color: @grey;
        color: #fff;
        border: 1px solid @grey;
    }
    span.btn {
        border: 1px solid @grey;
        background-color: #fff;
    }
}

.toolbar-box {
    .toggle.btn-sm {
        width: 150px !important;
        min-height: 30px;
        margin-top: 3px;
    }
}
.upper {
    text-transform: uppercase;
}
