//font
@font-face {
    font-family: 'avenir';
    src: url('../fonts/Avenir.otf');
}

@font-face {
    font-family: 'avenirLight';
    src: url('../fonts/AvenirLight.otf');
}

//color
@text: #1a1a1a;
@grey: #b3b3b3;
@primary: #4f4ea1;
@grey-light: #e6e6e6;
@primary-dark: #44448c;
@tosca: #3cbdb1;

body {
    padding-bottom: 40px;
}

.row {
    margin: 0;
}

#form-akses {
    margin-top: 140px;
    .input-group {
        margin-bottom: 20px;
    }
}

ul#medsos {
    text-align: center;
    margin-left: -40px;
    margin-top: 20px;
    li {
        display: inline-block;
        list-style: none;
        margin-left: 5px;
        margin-right: 5px;
    }
}

#banner{
    background: linear-gradient(111deg, rgba(60,189,177,1) 0%, rgba(60,189,177,1) 12%, rgba(79,78,161,1) 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 91%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 91%);
    color: #fff;
    padding: 40px 40px 200px 40px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -99;
    text-align: center;
}

.alert {
    font-size: 10pt;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.loader-akses {
    margin: 0 auto;
    text-indent: -9999em;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader-akses:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader-akses:after {
    background: @primary-dark;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#email-msg, #password-msg {
    width: 100%;
}

#policy {
    margin-top: 140px;
    #btn-register {
        position: fixed;
        bottom: 40px;
        left: 5%;
    }
}

#read-more {
    color: @primary;
    font-weight: bold;
}
