:root{
  --main-color: #46bfb2;
}
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  outline: 1px solid slategrey;
  border-radius: 10px;
}

div.top-menu
{
  margin: 10px;
}

div.top-menu > ul
{
  float: left;
}

div.top-menu .badge{
  position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}


div.top-menu .top-menu-right{
  color: #fff;
  border: none !important;
  transition: all 0.5s ease;
}

div.top-menu .top-menu-right a, div.top-menu .top-menu-right a:focus {
  border: none;
  background: none;
  color: #fff;
  font-size: 18px;
  padding: 6px;
  font-size: 16px;
}

div.top-menu .top-menu-right:hover, .top-menu-right:focus{
  border: solid 1px #fff;
  border-radius: 5px;
}

.btn-group.open .dropdown-toggle
{
  box-shadow: none;
}


div.top-menu .top-menu-right > ul {
 font-size: 16px;
 background: #46bfb2;
}


div.top-menu .top-menu-right > ul > li > a {
  border:none;
}

div.top-menu .top-menu-right .dropdown-menu{
  margin-top: 20px;
}
/*################################## LANDING PAGE ##########################*/
/*================ NavBar =================*/
#landingPage .row{
  margin: 0px;
}
#landingPage .container-fluid{
  padding-left: 50px;
  position: fixed;
  z-index: 9999;
}
#landingPage #navLP, #landingPage #navLP .nav-link{
  transition: all 0.5s ease;
}
#landingPage #navLP .nav{
  padding-top: 15px;
  padding-bottom: 5px;
}
#landingPage #menuMonika{
  margin-right: 90px;
}
#landingPage #menuMonika ul .nav-item{
  margin-left: 30px;
}
#landingPage #menuMonika ul .nav-item a{
  font-weight: bold;
  color: #fff;
  padding-bottom: 5px;
}
#landingPage #menuMonika ul .nav-item a::after{
  content: '';
  margin-left: -5px;
  margin-top: 2px;
  display: block;
  width: 0;
  height: 3px;
  background: var(--main-color);
  transition: width 0.5s ease;
}
#landingPage #menuMonika ul .nav-item a:hover::after{
  width: 130%;
}
/*================ NavBar =================*/
/*================ Sec1afterNavbar =================*/
#landingPage #sec1LP{
  background-image: url('../img/bg-lp.jpeg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 216px;
  padding-bottom: 200px;
  padding-left: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
}
#landingPage #sec1LP h1{
  font-size: 70px;
  text-align: center;
  color: #fff;
}
#landingPage #sec1LP .btn{
  padding: 7px 40px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}
#landingPage #sec1LP .btnGroup{
  text-align: center;
  margin-top: 35px;
}
#landingPage #sec1LP .btnGroup .btn{
  transition: all 0.5s ease;
}
#landingPage #sec1LP #coba{
  background-color: var(--main-color);
  color: #fff;
  border: 2px solid var(--main-color);
  margin-right: 20px;
}
#landingPage #sec1LP #coba:hover{
  background-color: #fff;
  color: var(--main-color);
  border-color: #fff;
}
#landingPage #sec1LP #pelajari{
  background-color: #fff;
  color: var(--main-color);
  border: 2px solid #fff;
  padding: 7px 80px;
}
#landingPage #sec1LP #pelajari:hover{
  background-color: var(--main-color) ;
  color: #fff;
  border-color: var(--main-color);
}
/*================ Sec1afterNavbar =================*/
/*================ Why Us =================*/
#landingPage #sec2LP #sec1_5{
  margin-top: 80px;
  font-weight: bold;
  margin-bottom: 20px;
}
#landingPage #sec2LP{
  margin-bottom: 30px;
}
#landingPage #sec2LP .whyUs{
  padding: 0px 60px;
}
#landingPage #sec2LP .whyUs img{
  margin: 0px auto;
  display: block;
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#landingPage #sec2LP .whyUs h3{
  text-align: center;
}
#landingPage #sec2LP .whyUs p{
  text-align: justify;
}
#landingPage #sec2LP #tutorialLP div a{
  background-color: var(--main-color);
  padding: 5px 50px;
  color: #fff;
  border: 2px solid var(--main-color);
  font-size: 15pt;
  border-radius: 10px;
  transition: all 0.5s ease;
}
#landingPage #sec2LP #tutorialLP div a:hover{
  background-color: transparent;
  color: var(--main-color);
}
/*================ Why Us =================*/
/*================ Preview Proposal =================*/
#landingPage #sec3LP{
  background-color: var(--main-color);
}
#landingPage #sec3LP .row{
  padding: 80px 20px;
}
#landingPage #sec3LP .col-lg-7 img{
  margin: 0 auto;
  display: block;
  width: 70%;
}
#landingPage #sec3LP .col-lg-5{
  padding-top: 50px;
  padding-right: 40px;
  color: #fff;
  text-align: center;
}
#landingPage #sec3LP .col-lg-5 h3{
  font-size: 30pt;
  margin-bottom: 20px;
  text-align: left;
}
#landingPage #sec3LP .col-lg-5 p{
  text-align: justify;
  font-size: 15pt;
}
#landingPage #sec3LP .col-lg-5 a{
  margin-top: 20px;
  padding: 10px 60px;
  color: var(--main-color);
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 17pt;
  transition: all 0.5s ease;
}
#landingPage #sec3LP .col-lg-5 a:hover{
  background-color: transparent;
  color: #fff;
}
/*================ Preview Proposal-sec3LP =================*/
/*================ sec4LP =================*/
#landingPage #sec4LP{
  padding: 6.5% 10% 5% 10%;
}
#landingPage #sec4LP .row .col-12 p{
  padding: 10px 13% 35px 13%;
}
#landingPage #sec4LP .row .col-12 .preProp{
  background-image: url('../img/frameprv.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  padding-top: 33px;
  margin: 0 auto;
  width: 760px;
  height: 572px;
}
#landingPage #sec4LP .row .col-12 .preProp .content-prop{
  height: 412px;
  margin: 0 auto;
  max-width: 720px;
  overflow-y: scroll;
  margin-left: 41px;
  margin-top: -4px;
}
#landingPage #sec4LP .row .col-12 .preProp img{
  width: 100%;
}
#landingPage #sec4LP .row .col-12 .btn{
  background-color: var(--main-color);
  color: #fff;
  border-radius: 10px;
  border: 3px solid var(--main-color);
  margin-top: 0%;
  font-size: 17pt;
  padding: 5px 5% 5px 5%;
}
/*================ sec4LP =================*/
/*================ pricing-LP sec5LP =================*/
#landingPage #sec5LP{
  padding-top: 5%;
  padding-bottom: 5%;
}
#landingPage #sec5LP .row .col-12 h3{
  color: var(--main-color);
  font-weight: bold;
}
#landingPage #sec5LP .row:last-child{
  margin-top: 40px;
}
#landingPage #sec5LP .row .pricingLP div{
  text-align: center;
}
#landingPage #sec5LP .row .pricingLP div .headerPricing{
  color: #fff;
}
#landingPage #sec5LP .row .pricingLP div .headerPricing h2{
  padding-top: 20px
}
#landingPage #sec5LP .row .pricingLP div .headerPricing p{
  margin-bottom: 0px;
}
#landingPage #sec5LP .row .pricingLP div .headerPricing p span.pricing1{
  position: relative;
  top: -5px;
  font-size: 25pt;
  right: 5px;
}
#landingPage #sec5LP .row .pricingLP div .headerPricing p span.pricing2{
  font-size: 60pt;
}
#landingPage #sec5LP .row .pricingLP div .headerPricing p span.pricing3{
  position: relative;
  font-size: 15pt;
  top: -15px;
  right: -10px;
}
#landingPage #sec5LP .row .pricingLP div .headerPricing p:last-child{
  font-size: 22pt;
  padding-bottom: 30px;
  margin-top: -20px;
}
#landingPage #sec5LP .row .pricingLP div table tr:last-child, #landingPage #sec5LP .row .pricingLP .headerPricing{
  background-color: var(--main-color);
}
#landingPage #sec5LP .row .pricingLP div table tr:last-child{
  transition: all 0.3s ease;
}
#landingPage #sec5LP .row .pricingLP div table tr:last-child td a{
  padding: 13px 110px;
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}
#landingPage #sec5LP .row .pricingLP div table tr:last-child:hover{
  background-color: #359a90;
}
#landingPage #sec5LP .row .pricingLP div table tr td:last-child a:hover{
  background-color: #359a90;
  text-decoration: none;
}
#landingPage #sec5LP .row #inchatLP{
  font-weight: bold;
  color: var(--main-color);
}
/*================ pricing-LP sec5LP =================*/
/*================ Testimoni-LP sec6LP =================*/
#landingPage #sec6LP{
  padding-top: 4%;
  padding-bottom: 10%;
  background-color: var(--main-color);
}
#landingPage #sec6LP #headertesti{
  padding-bottom: 5%;
  color: #fff;
}
#landingPage #sec6LP div .col-5 .testi img{
  border-radius: 50%;
  position: absolute;
  left: 5%;
  top: 18%;
}
#landingPage #sec6LP div .col-5 .testi .header-testi{
  background-color: #393939;
  color: #fff;
  padding-top: 10px
}
#landingPage #sec6LP div .col-5 .testi p{
  background-color: #fff;
  padding: 5% 5% 10% 3%;
}
#landingPage #sec6LP div .col-5 .testi .header-testi, #landingPage #sec6LP div .col-5 .testi p{
  padding-left: 30%;
}
/*================ Testimoni-LP sec6LP =================*/
/*================ FAQ-LP sec7LP =================*/
#landingPage #sec7LP{
  padding-bottom: 7%;
}
#landingPage #sec7LP #headerFAQ{
  margin-top: 6%;
  margin-bottom: 3%;
  color: var(--main-color);
}
#landingPage #sec7LP #accordion .card{
  margin-bottom: 10px;
  border-radius: 0px;
}
#landingPage #sec7LP #accordion .card .card-header{
  background-color: var(--main-color);
  border-bottom: 0px;
}
#landingPage #sec7LP #accordion .card .card-header:first-child{
  border-radius: 0px;
}
#landingPage #sec7LP #accordion .card .card-header h5 a{
  color: #fff;
}
#landingPage #sec7LP #accordion .card .card-header h5 a:hover{
  text-decoration: none;
}
/*================ FAQ-LP sec7LP =================*/
/*================ Footer LP =================*/
#landingPage #footerLP {
  background-color: #393939;
  padding-top: 3%;
  padding-bottom: 3%;
}
#landingPage #footerLP .row{
  color: #fff;
}
#landingPage #footerLP .col-7 ul{
  display: flex;
}
#landingPage #footerLP .col-7 ul li{
  margin-right: 6%;
  list-style-type: none;
}
#landingPage #footerLP .col-7 ul li a{
  color: #fff;
  transition: all 0.5s ease;
}
#landingPage #footerLP .col-7 ul li a:hover{
  text-decoration: none;
  color:var(--main-color);
}
/*================ Footer LP =================*/

/*################################## LANDING PAGE ##########################*/

/* LOGIN DAN REGISTER */
.login-page .col-lg-5 .form-login{
    max-width: 90%;
}
.login-page .col-lg-5 .form-login .form-login-heading{
  font-weight: bold;
}
.login-wrap{
  background-color: #ffffff;
  border-radius: 0px 0px 5px 5px;
  padding-right: 40px;
  padding-left: 40px;
}
.login-wrap img{
  display: block;
  margin: 0px auto;
  margin-bottom: 15px;
}

.login-wrap .btn-block{
  font-weight: bold;
  color: #fff;
  border-color: #fff;
  font-size: 12pt;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.login-wrap .btn-block:hover{
  background-color: #46bfb2;
  border-color: #46bfb2;
  color: #fff;
}
.login-wrap .btn-block i{
  margin-right: 5px;
}

/* END LOGIN DAN REGISTER */
/*new proposal*/
#formproposal .container .col-md-12{
  text-align: center;
}

#formproposal h3{
  margin-bottom: 40px;
}

#formproposal .container .col-md-12 .nav-pills{
  text-align: center;
  display: inline-block;
  margin:  0 auto;
  font-size: 15pt;
}
#formproposal .nav-pills li a i{
  margin-right: 10px;
}
#formproposal .nav-pills li a{
  color: #46bfb2;
}
#formproposal .nav-pills li.active a{
  color: #fff;
}
#formproposal .nav-pills > li.active > a,#formproposal .nav-pills > li.active > a:hover,#formproposal .nav-pills > li.active > a:focus{
  /*background-color: #46bfb2;*/
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color: #46bfb2;
  color: #fff;
}
#formproposal .tab-pane .form-group{
/*  margin-left: 22%;*/
  margin: 10px auto 30px auto;
}
#formproposal .tab-pane .form-group .form-control,  #formproposal .container .col-md-12 .tab-pane .form-group .form-control:focus{
/*  width: 70%;*/
  box-shadow: unset;
  background-color: transparent;
  border-width: 0px;
  border-bottom: 1px solid #000;
  border-radius: 0px;
}
#formproposal .tab-pane .form-group .form-control:focus{
  /*color:#fff;*/
}
#formproposal .tab-content #deliver #hasilTambahSkill, #formproposal .tab-content #termandcond #hasilTambahTerm{
  margin-left: 0%;
}
#formproposal .tab-content #deliver #hasilTambahSkill input, #formproposal .tab-content #termandcond #hasilTambahTerm input{
  /*float: left;*/
  width: 60%;
  margin-bottom: 10px;
  /*border-bottom-color: #cacaca;*/
}

#formproposal .tab-content #deliver input, #formproposal .tab-content #termandcond input, #formproposal .tab-content #milestone input {
  float: left;
  width: 80%;
  margin-right: 20px;
}

#formproposal .tab-content #deliver .btn, #formproposal .tab-content #termandcond .btn, #formproposal .tab-content #milestone .btn{
  margin-bottom: 10px;
}

/*
#formproposal .tab-content #milestone .form-group{
  margin-left: 15%;
}
#formproposal .tab-content #milestone #listTahapan input{
  width: 85%;
}
#formproposal .tab-content #milestone #listTahapan button{
  margin-bottom: 10px;
  margin-top: 5px;
}
*/
#formproposal div div .tab-content #client .btnKlien{
  margin-top: 50px;
}
#formproposal div div .tab-content #client .btnKlien a{
  /*padding: 20px 50px;*/
  font-size: 15pt;
  margin-right: 30px;
  margin-left: 30px;
  background-color:#46bfb2;
  border-color: #46bfb2;
  transition: all 0.5s ease;
}
#formproposal div div .tab-content #client .btnKlien a:hover{
  background-color: transparent;
  color: #46bfb2;
}
#formproposal div div .tab-content #client .btnKlien a i{
  margin-right: 10px;
}
#formproposal div div .tab-content #termandcond #btn-buat{
  background-color: #38948a;
  border-color: #38948a;
  font-size: 15pt;
  margin-top: 20px;
  transition: all 0.5s ease;
}
#formproposal div div .tab-content #termandcond #btn-buat i{
  margin-right: 10px;
}
#formproposal div div .tab-content #termandcond #btn-buat:hover{
  color:#46bfb2;
  background-color: transparent;
}

#formproposal .tab-content .btn-next, #formproposal .tab-content .btn-back
{
  background-color: #46bfb2;
  color: #fff;
  margin-top: 20px;
  font-size: 15pt;
  transition: all 0.5s ease;
  border-width: 2px;
  margin-right: 10px;
}
#formproposal .tab-content .btn-next i, #formproposal .tab-content .btn-back i, #formproposal .tab-content .tab-pane h3 i{
  margin-right: 10px;
}
#formproposal .tab-content .btn-next:hover, #formproposal .tab-content .btn-back:hover{
  background-color: transparent;
  color: #46bfb2;
  border-color: #46bfb2;
}
#formproposal .tab-content .tab-pane #modalKlien .form-group{
  margin-left: 2%;
  margin-top: 10px;
}
#formproposal .tab-content .tab-pane #modalKlien .form-group .form-client-baru{
  width: 100%;
}

#klienlama .modal-body #listKlienLama{
  text-align: left;
}
#klienlama .modal-body #listKlienLama li{
  margin-bottom: 20px;
}
#klienlama .modal-body #listKlienLama li a{
  border: 2px solid transparent !important;
  border-radius: 4px;
  padding: 5px;
  color: #000;
  background-color: transparent !important;
  transition: all 0.5s ease;
}
#klienlama .modal-body #listKlienLama li a:hover{
  border-color:#46bfb2 !important;
  box-shadow: 5px 5px 5px #d2d2d2;
}
/*================== Modal Kategori ======================*/
#category_edit .modal-header
{
/*  margin-bottom: 20px;*/
}

#category_edit .pilihCat .row{
  text-align: left;
  margin-bottom: 5%;
}
#category_edit .pilihCat .concat{
  border: 2px solid #f3f3f3;
  border-radius: 4px;
  transition: all 0.3s ease;
  padding: 13px 5px 13px 5px;
  font-size: 12px;
  color: #000;
  margin: 2px;
  cursor: pointer;
}


#category_edit .pilihCat .concat input[type="radio"]{
  visibility: hidden;
}
#category_edit .pilihCat .concat label{
  cursor: pointer;
}
#category_edit .pilihCat .concat i{
  margin-right: 5px;
  /*color:#46bfb2;*/
}
#category_edit .pilihCat .concat:hover{
  border-color:#46bfb2;
  box-shadow: 5px 5px 5px #d2d2d2;
}
.concat_active
{
  border-color:#46bfb2 !important;
  box-shadow: 5px 5px 5px #d2d2d2;
}

.concat_active label
{
  color: #46bfb2 !important;
  font-weight: 600 !important;
}

.concat_active i
{
  color: #46bfb2;
}

.btn-file, .btn-file1, .btn-file2 {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file], .btn-file1 input[type=file], .btn-file2 input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/*================== Modal Kategori ======================*/
/* LOADING WHILE DUPLICATE */
#loading-area{
  display: none;
  position:absolute;
  top: 50%;
  left: 54%;
}
#loading {
  background-color: rgba(0,0,0,0);
  border:5px solid rgb(72, 207, 173);
  opacity:.9;
  border-right:5px solid rgba(0,0,0,0);
  border-left:5px solid rgba(0,0,0,0);
  border-radius:50px;
  box-shadow: 0 0 35px #46bfb2;
  width:70px;
  height:70px;
  margin:0 auto;
  position: fixed;
  top: 201px;
  left: 54.3%;
  -moz-animation:spinPulse 1s infinite ease-in-out;
  -webkit-animation:spinPulse 1s infinite linear;
}
#loading1 {
  background-color: rgba(0,0,0,0);
  border:5px solid rgb(72, 207, 173);
  opacity:.9;
  border-left:5px solid rgba(0,0,0,0);
  border-right:5px solid rgba(0,0,0,0);
  border-radius:50px;
  box-shadow: 0 0 15px #46bfb2;
  width:50px;
  height:50px;
  margin:0 auto;
  position:fixed;
  top: 212px;
  -moz-animation:spinoffPulse 1s infinite linear;
  -webkit-animation:spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
  0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
  50% { -moz-transform:rotate(145deg); opacity:1; }
  100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
  0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
  0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
  50% { -webkit-transform:rotate(145deg); opacity:1;}
  100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg); }
}
/* LOADING WHILE DUPLICATE */


/* Manajemen Klien */
  #searchBar {
    background-image: url('/images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  /* Manajemen Klien */
  /* Home - Status */
  .introjs-helperNumberLayer{
    background: #46bfb2;
  }
  .introjs-tooltip{
    max-width: 500px;
    min-width: 320px;
  }
  #main-content .home#listProposal{
/*
    width: 100%;
    display: block;
*/
  }
  #main-content .row #proposal_status{
    padding: 5px 22px 10px 15px;
  }
  #main-content .row #proposal_status a{
    color:#46bfb2;
  }
  #main-content .row #proposal_status a h5{
    /*display: inline-flex;*/
    font-family: 'Montserrat';
    float: left;
    font-weight: bold;
  }
  #main-content .prop-stat{
    padding: 2px 10px 0px 10px;
/*    width: 150px;*/
    /* float: right; */
    position: absolute;
    line-height: 34px;
    border-radius: 0;
    right: 0px;
    top: 0;
    font-size: 14px;
  }

  #main-content .prop-stat i{
    color: #fff;
  }

  #main-content .row #proposal_status span i.fa{
    color:#fff;
  }
  #main-content .row.mt{
    margin: 20px 0px 25px 0px;
  }
  /* Home - Status */
  #accButton {
      position: fixed;
      bottom: 1000px;
      right: 1000px;
  }

  .currencyinput {
    border: 1px inset #ccc;
  }
  .currencyinput input {
      display: block;
    border: 0;
  }

  .section-padding
  {
    padding: 20px 50px 20px 50px;
  }

  #form_upload_logo_image_edit,.form_upload_header_image_edit,.delete-bg,.delete-logo,.btn-team-logo,.capt-team-logo
  {
    visibility: hidden;
  }

  .content {
    font-family: 'Avenir';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
  }

  .caption {
    font-family: 'Avenir';
    font-weight: 600;
    font-size: 18px;
  }

  .caption-mini {
    font-family: 'Avenir';
    font-weight: 600;
    font-size: 15px;
  }

  .tabelKlien table tr
  {
    cursor: pointer;
  }

  .panel-btn-add,.btn-edit-section,.btn-remove-section
  {
    transition: transform 0.5s ease;
    visibility: hidden;
  }

  .btn-remove-section
  {
    margin-top: 25px;
  }

  .btn-edit-section,.btn-remove-section
  {
    cursor: pointer;
    position: absolute;
    font-size:20px;
    color: #d8d8d8;
    right: 0px;
    top: 35%;
  }

  .btn-feedback-section
  {
    cursor: pointer;
    position: absolute;
    font-size:20px;
    color: #d8d8d8;
    right: -85px;
    top: 35%;
  }

  .btn-feedback-section:hover
  {
    color: #8f8f8f;
  }

  .btn-edit-section:hover,.btn-remove-section:hover
  {
    color: #000;
  }

  .btn-edit-title, .btn-edit-email, .btn-edit-client
  {
    cursor: pointer;
    font-size:20px;
    color: #d8d8d8;
    transition: transform 0.5s ease;
    visibility: hidden;
  }

  /*Proposal panel ribbon*/
  .corner-ribbon{
  width: 90px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -10px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 1;
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}


  /*view proposal*/
  #main-content .wrapper .col-md-12 .showback .row .view-project-info .mt ol{
          font-family: 'Avenir';
          font-weight: 500;
          line-height: 1.1;
          font-size: 20px;
        }
        #main-content .wrapper .col-md-12 .showback .row .view-project-info textarea, #main-content .wrapper .col-md-12 .showback .row .view-project-info input, #main-content .wrapper .col-md-12 .showback .row .view-project-info table tbody tr td{
           font-family: 'Avenir';
           font-weight: 500;
           line-height: 1.1;
           font-size: 20px;
         }
        #main-content .wrapper .col-md-12 .showback .row .view-project-info textarea, #main-content .wrapper .col-md-12 .showback .row .view-project-info input{
          width: 100%;
          border: none;
          resize: none;
          overflow: hidden;
          border-bottom: 2px solid #ececec;
          padding-bottom: 5px;
        }
        #main-content .wrapper .col-md-12 .showback .row .view-project-info textarea:focus, #main-content .wrapper .col-md-12 .showback .row .view-project-info input:focus, #main-content .wrapper .col-md-12 .showback #ttdSection .ttdOleh:focus{
          border: none;
          border-bottom: 2px solid #46bfb2;
          outline: none;
        }
        #main-content .wrapper .col-xs-12 .showback #ttdSection .ttdOleh{
          background: none;
          width: 100%;
          border: none;
          border-bottom: 2px solid #797979;
          margin-bottom: 20px;
          font-family: 'pecita';
          font-size: 30pt;
          text-align: center;
        }
        #main-content .wrapper .col-md-12 .showback #ttdSection .ttdOleh[type="text" i]:disabled{
          background-color: transparent;
          cursor: no-drop;
        }
        #main-content .wrapper .col-md-12 .showback .row .view-project-info #headerinfo h4{
          margin-top:0px;
        }
        .btn-fab{
          position:fixed;
          top:190px;
          padding: 0;
        }

        .black-box{
          background-color: #393939;
          margin-top: 10px;
          border-radius: 3px;
          text-align: center;
        }

        .black-box .content{
          margin: 10px;
          margin: 10px;
          padding-top: 10px;
          padding-bottom: 10px
        }

        .black-box .content p{
          color: #fff;
        }

        .black-box .content .form-input{
          border-radius: 4px;
          width: 100%;
          /* height: 34px; */
          font-size: 13px;
          /* margin-right: 3px; */
          padding: 5px;
        }

        .editing
        {
          background-color: #f1f1f1;
        }

        .square{
            width: 100px;
            height: 100px;
            Background-color: #fff;/* Your Color */
        }

        .header-color {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: -1;
      }

      .floating-proposal-panel
      {
        background-color: rgb(255, 255, 255);
        display: flex;
        height: 60px;
        right: 0px;
        position: fixed;
        top: 60px;
        width: 100%;
        z-index: 1;
        border-bottom: 1px solid rgb(216, 218, 220);
        overflow: hidden;
      }

      /*
      .floating-proposal-tools
      {
        background-color: rgb(255, 255, 255);
        height: 40px;
        padding: 5px;
        right: 0px;
        position: fixed;
        top: 120px;
        width: 100%;
        z-index: 1;
        border-bottom: 1px solid rgb(216, 218, 220);
        overflow: hidden;"
      }
      */

      .proposal-menu-panel-left
      {
        display: flex;
        margin-left: 200px;
        margin-right: auto;
        -webkit-box-pack: start;
        justify-content: flex-start;
      }

      .proposal-menu-panel-right
      {
        display: flex;
        margin-left: auto;
        -webkit-box-pack: end;
        justify-content: flex-end;
      }

      .proposal-menu-panel-right .proposal-menu-panel-nav
      {
        color: rgb(149, 155, 163);
        box-sizing: border-box;
        font-size: 14px;
        font-weight:bold;
        display: flex;
        line-height: 100%;
        text-transform: uppercase;
        height: 100%;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width:250px;padding: 0px 15px;
        transition: all 0.3s;
        border-left: 1px solid rgb(216, 218, 220);
      }

      div {
          display: block;
      }

      li {
        font-size: 16px;
      }
      @media screen and (max-width:480px) {
        body#landingPage{
          width: 855px;
        }
        body#landingPage #navLP{
          padding-right: 75px;
        }
        body#landingPage #sec2LP #sec1_5 h1{
          font-size: 45pt;
        }
        body#landingPage #sec2LP .whyUs{
          margin-bottom: 15px;
        }
        body#landingPage #sec2LP .whyUs h3{
          font-size: 35pt;
          margin-bottom: 15px;
          margin-top: 20px;
        }
        body#landingPage #sec2LP .whyUs p{
          font-size: 20pt;
        }
        body#landingPage #sec2LP #tutorialLP div a{
          font-size: 25pt;
        }
        body#landingPage #sec3LP .col-md-5 h3{
          text-align: center;
          font-size: 35pt;
        }
        body#landingPage #sec3LP .col-md-5 p{
          font-size: 25pt;
        }
        body#landingPage #sec4LP .row .col-12 h3{
          font-size: 40pt;
        }
        body#landingPage #sec4LP .row .col-12 p{
          padding: 10px 0% 35px 0%;
          font-size: 20pt;
        }
        body#landingPage #sec4LP .row .col-12 .preProp{
          width: 650px;
        }
        body#landingPage #sec4LP .row .col-12 .preProp .content-prop{
          height: 352px;
          margin-left: 34px;
          margin-top: -8px;
        }
        body#landingPage #sec4LP .row .col-12 .btn{
          font-size: 35pt;
        }
        #landingPage #sec5LP .pricingLP{
          width: 70%;
          margin-bottom: 20px;
        }
        #landingPage #sec5LP .pricingLP .atas-pricing .table td{
          font-size: 25pt;
        }
        #landingPage #sec5LP .row #inchatLP{
          width: 67%;
        }
      }
      @media screen and (max-width:768px) {
        body#landingPage{
          width: 855px;
        }
        body#landingPage #navLP{
          padding-right: 75px;
        }
        body#landingPage #sec1LP h1{
          font-size: 50px;
        }
        body#landingPage #sec2LP #sec1_5 h1{
          font-size: 45pt;
        }
        body#landingPage #sec2LP .whyUs{
          margin-bottom: 15px;
        }
        body#landingPage #sec2LP .whyUs h3{
          font-size: 35pt;
          margin-bottom: 15px;
          margin-top: 20px;
        }
        body#landingPage #sec2LP .whyUs p{
          font-size: 20pt;
        }
        body#landingPage #sec2LP #tutorialLP div a{
          font-size: 25pt;
        }
        body#landingPage #sec3LP .col-md-5 h3{
          text-align: center;
          font-size: 35pt;
        }
        body#landingPage #sec3LP .col-md-5 p{
          font-size: 25pt;
        }
        body#landingPage #sec4LP .row .col-12 h3{
          font-size: 40pt;
        }
        body#landingPage #sec4LP .row .col-12 p{
          padding: 10px 0% 35px 0%;
          font-size: 20pt;
        }
        body#landingPage #sec4LP .row .col-12 .preProp{
          width: 650px;
        }
        body#landingPage #sec4LP .row .col-12 .preProp .content-prop{
          height: 352px;
          margin-left: 34px;
          margin-top: -8px;
        }
        body#landingPage #sec4LP .row .col-12 .btn{
          font-size: 35pt;
        }
        #landingPage #sec5LP .pricingLP{
          width: 70%;
          margin-bottom: 20px;
        }
        #landingPage #sec5LP .pricingLP .atas-pricing .table td{
          font-size: 25pt;
        }
        #landingPage #sec5LP .row #inchatLP{
          width: 67%;
        }
      }
      /*================================= RESPONSIVE ========================================*/
