/*max md*/
@media (max-width: 992px) {

}

/*max sm*/
@media (max-width: 768px) {
    .pheader{
        font-size: 14px;
    }
    .pcontent{
        font-size: 12px;
    }
    .group-action{
        margin-top: 20px;
    }
    #main-content .prop-stat{
        right: 0px;
    }
}

/*min sm*/
@media (min-width: 759px) and (max-width: 992px){
    .group-action{
        margin: 10px;
    }
}

/*max xs*/
@media (max-width: 575.99px) {
    .content{
        font-size: 14px;
    }
    .caption{
        font-size: 14px;
    }
    #main-content .row.mt{
        margin: 25px -15px 25px -15px;
    }
    .section-padding {
        padding: 10px 40px 20px 30px;
    }
    .column-action {
        width: 40%;
    }
    #project_name {
        margin: 0px 0 20px 0;
    }

    #imgheader{
        margin:10px auto 5px;
    }

    .form_upload_header_image_edit .input-group{
        width: 200px;
        margin: auto;
    }
    .connecting-line {
        top: 78%;
    }
    #formproposal .tab-content .btn-next {
        font-size: 1em;
    }
    #formproposal div div .tab-content #client .btnKlien a {
        font-size: 1em;
    }
    #formproposal .tab-content #deliver input, #formproposal .tab-content #milestone input {
        width: 75%;
    }
}

@media (min-width: 576px) {
    .column-action {
        width: 20%;
    }
    #project_name {
        margin: 20px 10px 30px 0;
    }

    #imgheader{
        margin:35px auto 5px;
    }

    .form_upload_header_image_edit .input-group{
        width: 300px;
    }
}

@media (min-width: 759px) {
    .form_upload_header_image_edit .input-group{
        float: right;
    }
    #project_name {
        margin: 50px 20px 30px 0;
    }

    #imgheader{
        margin:50px auto 5px;
    }
}

@media (min-width: 576px) and (min-width: 758.99px) {
    .form_upload_header_image_edit .input-group{
/*        margin: auto;*/
/*        text-align: center;*/
    }
}
